h1 {
    color: lime;
}

body {
    background-color: hotpink;
    color: purple;
}

a {
    font-size: 20px;
    padding: 10px;
    color: blue;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 10px solid rgb(255, 255, 0);
    color: green;
}
